<html>
    <head>
        <title>Senseid</title>
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/demo.css" rel="stylesheet">
    </head>
    <body style="background-color:#4DE3F7">
        <div class="navbar navbar-top">
                <div class="navbar-inner">
                        <div class="span12">
                                <a class="brand">Senseid</q>
                        </div>
                </div>
        </div>
        <div id=paper class="span8 center"></div>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/raphael.js"></script>
        <script type="text/javascript" src="static/js/demo.js"></script>
    </body>
</html>
